@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.colorgrad{
	background:linear-gradient(90deg, #0B214A, #1C5FE6);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
a{
	text-decoration: none;
}
header a{
	color: #C6BEC4;
}
a:hover{
	text-decoration: underline;
}
header div{
	background-color: #00084D;
	display: flex;	
	align-items: center;
	gap: 20px;
	padding-left:60px ;
	padding-right: 60px;
}
header div div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-content: center;
	justify-content: space-between;

} 
header div p{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	font-weight: 500;
}
header nav{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	gap: 30px;
	justify-content: space-around;
	align-content: center;
	color: black;
	font-weight: 500;
}
header nav img{

	height: 100px;
}
header nav a{
	color: #505968;
	padding: 0px 10px;
}
header nav span{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}
.boton_blanco{
	border: 1px solid black;
	padding: 15px 20px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	background-color: white;
}

.boton_azul{
	border: 1px solid black;
	padding: 15px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: #0C49C2;
}

main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 0px;
}
main section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding:50px 0px;
}
main section h1,h2{
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin: 0px;
}
main section p{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
}
main section span p{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin: 0px;
}
main section span p a:hover{
	text-decoration: underline;
}
main section div{
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top:30px;
}
main section div a{
	font-size: 24px;
	font-weight: 500;
}
.logos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 10%;
	gap: 0px;
}
.logos div{
	margin: 0px;
}
.stats{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 150px;
}
.stats div{
	display: flex;
	flex-direction: column;
}
.stats div p:first-child{
	font-size: 80px;
}
.stats div p:last-child{
	font-size: 20px;
	font-weight: 100;
}
.dual{
	display: flex;
	flex-wrap: wrap;
	padding:0px 10%;
	gap:0px;
}
.dual div{
	width: 40%;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: justify;
}
.dual p, a, h5, h3{
	margin: 0px;
	text-align: left;
}
main div p, a{
	font-size: 18px;
	font-weight: 100;
}
main h5{
	font-size: 28px;
}
main h3{
	font-size: 56px;
}
main h4{
	font-size: 20px;
}
.dual div img{
	height: 300px;
}
.columna{
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	flex-wrap: nowrap;	
}

.columna img{
	height: 36%;

}
.oscuro{
	background-color: #03061E;
	gap: 0px 130px;
	color: white;
}
.iconos{
	display: flex;
	height: 30px;
	gap: 0px 15px;
}
.repartido{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	align-content: left;
	flex-wrap: wrap;
	gap: 0px 50px;
	
}
footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 50px;
}