/*Fuentes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*Reglas generales*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

section{
	padding-left: 5%;
	padding-right: 5%;
}



/*Header*/
header a{
	color: #C6BEC4;
}

header div{
	background-color: #00084D;
	display: flex;	
	align-items: center;
	gap: 20px;
	padding-left:60px ;
	padding-right: 60px;
}
header div div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-content: center;
	justify-content: space-between;

} 
header div p{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	font-weight: 500;
}
header nav{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 15px;
	gap: 30px;
	justify-content: space-around;
	align-content: center;
	color: black;
	font-weight: 500;
}
header nav img{
	height: 100px;
}
header nav a{
	color: #505968;
	padding: 0px 10px;
}
header nav span{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}
/*Main*/
main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 2%;
	padding-bottom: 2%;
}
main section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
main section h1,h2{
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	margin: 0px;
}
main section p{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
}
main section span p{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	margin: 0px;
}
main section span p a:hover{
	text-decoration: underline;
}
main section div{
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top:30px;
}
main section div a{
	font-size: 24px;
	font-weight: 500;
}
main div p, a{
	font-size: 18px;
	font-weight: 100;
}
main h5{
	font-size: 28px;
}
main h3{
	font-size: 56px;
}
main h4{
	font-size: 20px;
}

/*Footer*/
footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 50px;
}
/*Id*/


/*Clases*/
.colorgrad{
	background:linear-gradient(90deg, #0B214A, #1C5FE6);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
.boton_blanco{
	border: 1px solid black;
	padding: 15px 20px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	background-color: white;
}
.boton_blanco_redondo{
	border: 1px solid black;
	padding: 15px 20px;
	border-radius: 30px;
	color: black;
	font-weight: bold;
	background-color: white;
}
.boton_azul{
	border: 1px solid black;
	padding: 15px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: #0C49C2;
}
.boton_azul_redondo{
	border: 1px solid black;
	padding: 15px 10px;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	background-color: #0C49C2;
}
.botones{
	display: flex;
	flex-wrap: wrap;
}
.logos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px ;
	gap: 0px;
}
.logos div{
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.oscuro > .logos div{
	width: 1400px;
	gap: 10px 15px;
	padding-right: 5%;
	padding-left: 5%;
}
.oscuro > .logos div > div{
	width: 150px;
	padding: 2% 2%;
}
.stats{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 140px;
}
.stats div{
	display: flex;
	flex-direction: column;
}
.stats div p:first-child{
	font-size: 80px;
}
.stats div p:last-child{
	font-size: 20px;
	font-weight: 100;
}
.dual{
	display: flex;
	flex-wrap: wrap;
	padding:0px 10%;
	gap:0px;
}
.dual div{
	width: 40%;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: justify;
}

.columna{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;	
}

.columna img{
	height: 36%;

}
.oscuro{
	background-color: #03061E;
	gap: 0px 130px;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}
.iconos{
	display: flex;
	height: 30px;
	gap: 0px 15px;
}
.repartido{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	align-content: left;
	flex-wrap: wrap;
	gap: 0px 50px;
	
}

.columna_unica{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 5%;

}
.columna_unica img{
	height: 80%;
	width: 60%;
}
.columna_unica > h3{
	margin: 0px;
	text-align: center;
}
.columna_unica h4{
	margin: 0px;
	font-weight: 500;
}
.columna_unica span > h2{
	font-size: 26px;
}
.columna_unica span > p{
	padding: 0% 15%;
	font-weight: 100;
	font-size: 18px;
}
.columna_dual{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.columna_dual div{
	display: flex;
	flex-direction: column;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.columna_dual div > p{
	text-align: left;
}

.columna_dual div > img{
	height: 100%;
	width: 100%;
}

.ancho700{
	width: 700px;
}
.ancho175{
	width: 175px;
}
.ancho500{
	width: 500px;
}
.ancho400{
	width: 400px;
}
.ancho400 > *{
	margin: 0px;
}
.columna_grupo{
	display: flex;
	flex-direction: column;
	align-content: baseline;
	align-items: center;
	width: 400px;
}
.columna_grupo img{
	height: 50px;
}
.grupo{
	display: flex;
	flex-wrap: wrap;
}